{% extends 'HMSApp/index.html' %}
{% load extra_filters %}

{% block dashboard %}

<div class="row page-titles">
	    <div class="col-md-6 col-8 align-self-center">
	        <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
	            <li class="breadcrumb-item active">Profile</li>
	            <li class="breadcrumb-item active">Change Password</li>
	        </ol>
	    </div>
	                  
	</div>

<b style="color: {{ color }}">{{ error_msg }}</b>
<form method="POST" action="">
	{% csrf_token %}
	<table>	

	{% for element in form %}
	<tr>

		<td>{{ element.label_tag }}</td><td>{{ element|addcss:"form-control" }}</td>
		
	</tr>
	{% endfor %}
	</table>
	<input type="submit" name="" class='btn btn-success'>
</form>
{% endblock %}